{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123404483-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-123404483-1');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block meta-description %}
    <meta name="description" content="Holmes Web Development offers various web design and development services aimed at accelerating business growth online.">
  {% endblock %}
  <meta name="theme-color" content="#007677">
  {% load static %}
  <link rel="icon" type="image/png" href="{% static 'main/src/images/favicon.png' %}">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  {% block extra-links %}
  {% endblock %}
  <title>{% block title %}Website and Web Application Development | Holmes Web Development{% endblock%}</title>
</head>
{% render_bundle 'styles' %}
<body class="font-1 light-grey charcoal-text">
  <div id="app">
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper light-grey">
          <h1><a class="brand-logo left font-2" href="{% url 'main:index' %}"> <img class="logo" src="{% static 'main/src/images/logo.png' %}" alt=""> Holmes <div class="subheading">Web <br />Development</div></a></h1>
          <ul class="right">
            <li><a href="#" class="sidenav-trigger teal-text text-accent-2" data-target="slidenav"><img src='{% static 'main/src/icons/icon-menu.png' %}' class="icon"></a></li>
          </ul>
          <ul class="right nav-mobile hide-on-med-and-down">
            {% block nav-which-active %}
              <li><a href="{% url 'main:index' %}" class="nav-active charcoal-text">Home</a></li>
              <li><a href="{% url 'main:services' %}" class="charcoal-text">Services</a></li>
              <li><a href="{% url 'main:contact' %}" class="charcoal-text">Contact & Pricing</a></li>
            {% endblock %}
          </ul>
        </div>
      </nav>
    </div>
    <ul class="sidenav" id="slidenav">
      <li><a href="{% url 'main:index' %}" class="waves-effect waves-blue">Home</a></li>
      <li><a href="{% url 'main:services' %}" class="waves-effect waves-blue">Services</a></li>
      <li><a href="{% url 'main:contact' %}" class="waves-effect waves-blue">Contact</a></li>
    </ul>


    <div class="page-header">
      {% block page-header %}
      {% endblock %}
    </div>


    {% block cover-image %}
    {% endblock %}

    <main class="main container row">
      {% block main %}
      <div class="cont-block" id="cont-block-1">
        <h2 class="font-2 bright-blue-text">Overview</h2>
        <div class="cont-paragraph" id="cont-paragraph-1">
          <p>I'm a freelance web developer based in Johannesburg, South Africa. My main interest lies in front-end web design, which allows me to create clean and charming websites aimed at communicating the personality of the business behind the website.</p>

          <p>If you need a website to showcase all that you have to offer through the world's most powerful and flexible medium, you have come to the right place. For a more detailed breakdown of what I do, <a href="{% url 'main:services' %}">visit the services page</a>.</p>
        </div>
      </div>

      <div class="cont-block" id="cont-block-2">
        <h2 class="font-2 bright-blue-text">Need a Website?</h2>
        <div class="cont-paragraph" id="cont-paragraph-2">
          <p>I'd love to help showcase you to the world. To get started, you can find my contact details or send me a message <a href="{% url 'main:contact' %}">here</a>.</p>
        </div>
      </div>
      {% endblock %}
    </main>

    <footer class="page-footer mid-grey">
      <div class="row valign-wrapper charcoal-text">
        <div class="col s7">
          <ul>
            <h2><li><a href="{% url 'main:index' %}">Home</a></li></h2>
            <h2><li><a href="{% url 'main:services' %}">Web development services</a></li></h2>
            <h2><li><a href="{% url 'main:contact' %}">Contact & Pricing</a></li></h2>
            <br>
            <h2><li>Our partner: <a href="http://www.colgro.com/index.html" class="link-colgro" target="_blank">ColGro</a></li>
            </ul></h2>
          </ul>
        </div>
        <div class="col s5 right-align">
          <ul>
            {% block extra-footer %}
            {% endblock %}
            <li><span id="copy"></span></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  {% render_bundle 'externals' %}
  {% block extra-scripts %}
  {% endblock %}
</body>
</html>
