{% extends 'main/base.html' %}
{% load static %}

{% block meta-description %}
  <meta name="description" content="Holmes Web Development offers various web design and development services aimed at accelerating business growth online.">
{% endblock %}

{% block title %}Contact Details and Pricing | Holmes Web Development{% endblock %}

{% block nav-which-active %}
  <li><a href="{% url 'main:index' %}">Home</a></li>
  <li><a href="{% url 'main:services' %}">Services</a></li>
  <li><a href="{% url 'main:contact' %}" class="nav-active">Contact & Pricing</a></li>
{% endblock %}

{% block page-header %}
  <h1 class="font-2">Contact Details & Pricing</h1>
{% endblock %}

{% block cover-image %}
{% endblock %}

{% block main %}
<div class="cont-block">
  <h2 class="font-2 bright-blue-text">Pricing</h2>
  <div class="cont-paragraph" id="cont-paragraph-1">
    <p>The web development aspects listed in the <a href="{% url 'main:services' %}">services page</a> vary in complexity and price. Since each project is unique, quotes will be calculated after establishing your specific requirements. In order to gauge your requirements, an initial meeting can be held to discuss your requirements, free of charge. This can be done remotely or face-to-face.</p>
  </div>
</div>

<div class="cont-block">
  <h2 class="font-2 bright-blue-text">Send a Message</h2>
  <div class="cont-paragraph" id="cont-paragraph-1">
    <p>If you have any comments, questions or requests feel free to let me know here.</p>
  </div>
  <form class="new-message" action="" method="post">
    {% csrf_token %}
      <div class="form-area input-field">
        <img src="{% static 'main/src/icons/icon-name.png' %}" alt="Name" class="contact-icon prefix">
        <label for="id_name">Name </label>
        {{ form.sender_name }}
      </div>
      <div class="form-area input-field">
        <img src="{% static 'main/src/icons/icon-email.png' %}" alt="Email" class="contact-icon prefix">
        <label for="id_email">Email address </label>
        {{ form.sender_email }}
      </div>
      <div class="form-area input-field">
        <img src="{% static 'main/src/icons/icon-pencil.png' %}" alt="Message" class="contact-icon prefix">
        <label for="id_message">Your message </label>
        {{ form.message }}
      </div>
      <div class="right-align">
        <button type="submit" name="" class="btn waves-effect waves-blue bright-blue" id="btn-submit">Send &nbsp;<img src="{% static 'main/src/icons/icon-send.png' %}" alt="Message" class="send-icon"></button>
      </div>
  </form>
</div>

<div class="cont-block" id="cont-block-1">
  <h2 class="font-2 bright-blue-text">Contact Me</h2>
  <div class="cont-paragraph" id="cont-paragraph-1">
    <p>E-mail: <a href="mailto: jared@colgro.com">jared@colgro.com</a></p>
  </div>
</div>
{% endblock %}
