{% extends 'main/base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block cover-image %}
<div class="cover-image">
  <img id="cover" width="100%" alt="Holmes Web Development" src="{% static 'main/src/images/background.jpeg' %}">
  <div class="slogan">
    <h2 id="slogan-1" class="animated"><a href="{% url 'main:services' %}" class="charcoal-text"><img src="{% static 'main/src/icons/icon-coding.png' %}" alt="web design" class="slogan-icon">&nbsp; [[ timeout(0) ]] High-quality, bespoke website design</a></h2>
  </div>
</div>
<div class="blender"></div>
{% endblock %}
{% block extra-footer %}
<li><a href="https://icons8.com">Icon pack by Icons8</a></li>
{% endblock %}
{% block extra-scripts %}

<script type="text/javascript">
var text = [
    "<a href='{% url 'main:services' %}' class='charcoal-text'><img src='{% static 'main/src/icons/icon-coding.png' %}' alt='web design' class='slogan-icon'>&nbsp; High-quality, bespoke website design</a>",

    "<a href='{% url 'main:services' %}' class='charcoal-text'><img src='{% static 'main/src/icons/icon-ux.png' %}' alt='UX and UI' class='slogan-icon'>&nbsp; Attractive and intuitive UI and UX design</a>",

    "<a href='{% url 'main:services' %}' class='charcoal-text'><img src='{% static 'main/src/icons/icon-database.png' %}' alt='Web application design' class='slogan-icon'>&nbsp; Robust, performant web application development</a>",

    "<a href='{% url 'main:services' %}' class='charcoal-text'><img src='{% static 'main/src/icons/icon-search.png' %}' alt='SEO' class='slogan-icon'>&nbsp; Search engine optimization for maximized exposure</a>",
  ];
</script>
{% render_bundle 'animate' %}
{% endblock %}
