<h1>New Message</h1>
<br>
<form class="new-message" action="" method="post">
  {% csrf_token %}
    <div class="sec1" style="margin: 3em;">
      <label for="id_name">Name: </label>
      {{ form.sender_name }}
    </div>
    <div class="sec1" style="margin: 3em;">
      <label for="id_email">Email: </label>
      {{ form.sender_email }}
    </div>
    <div class="sec1" style="margin: 3em;">
      <label for="id_message" style="position: relative; bottom: 7em;">Your message: </label>
      {{ form.message }}
    </div>
    <input type="submit" name="" value="Submit" id="sub">
</form>
