{% extends 'main/base.html' %}

{% block meta-description %}
  <meta name="description" content="Holmes Web Development services: web development, UX & UI, web application development, progressive web apps, logo's and branding and SEO (search engine optimisation).">
{% endblock %}

{% block extra-links %}<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">{% endblock %}

{% block title %}Web Design and Development Services | Holmes Web Development{% endblock %}

{% block nav-which-active %}
  <li><a href="{% url 'main:index' %}">Home</a></li>
  <li><a href="{% url 'main:services' %}" class="nav-active">Services</a></li>
  <li><a href="{% url 'main:contact' %}">Contact & Pricing</a></li>
{% endblock %}

{% block page-header %}
  <h1 class="font-2">Web Development Services</h1>
{% endblock %}

{% block main %}
  <div class="cont-block grey lighten-4 black-text" id="cont-block-1">
      <h2 class="font-2 teal-text text-darken-1">Services</h2>
      <div class="cont-paragraph" id="cont-paragraph-1">
        <p>I offer various services designed to cater to the needs of businesses or individuals in need of websites.</p>
        <ul class="collapsible z-depth-0">
          <li class="active">
            <h2 class="font-2 collapsible-header teal accent-1">Web development</h2>
              <div class="collapsible-body"><p>The most fundamental service is basic web development, ideal for brochure sites or portfolio-based websites, crucial for any business to showcase itself effectively.</p></div>
          </li>
          <li>
            <h2 class="font-2 collapsible-header teal accent-4">UX & UI</h2>
              <div class="collapsible-body"><p>Linked closely with web development, user interface and user experience design involve creating a website that follows proper design practices in order to create an enjoyable and intuitive experience for the user. This includes aspects such as visual design, responsive design and typography.</p></div>
          </li>
          <li>
            <h2 class="font-2 collapsible-header teal accent-1">Web application development</h2>
              <div class="collapsible-body"><p>The web application is a more advanced type of website which offers the user a more interactive and "app-like" experience. Web applications generally rely on the retrieval of information from a database. This allows for a more customizable and powerful experience.</p></div>
          </li>
          <li>
            <h2 class="font-2 collapsible-header teal accent-4">Progressive web apps</h2>
              <div class="collapsible-body"><p>The progressive web app is a relatively new, innovative concept in web design. Progressive web apps are able to be more performant in the browser than conventional websites, with faster loading times.</p>
              <p>Progressive web apps can be saved on Android and ChromeOS devices, allowing them to function like native applications. This avoids the costs of native application development.</p></div>
          </li>
          <li>
            <h2 class="font-2 collapsible-header teal accent-1">Logo design</h2>
              <div class="collapsible-body"><p>Eye-catching and expressive logos are important for the establishment of a business's brand image. Following visual design and logo design guidelines, I provide logo designs with the purpose of creating a memorable brand image.</p></div>
          </li>
          <li>
            <h2 class="font-2 collapsible-header teal accent-4">Search Engine Optimisation (SEO)</h2>
              <div class="collapsible-body"><p>Search engine optimisation is the process of optimising a website through multiple adjustments for the purpose of ranking a website higher in search engine results. This generates more traffic from users, as the website is made significantly more available to the public.</p></div>
          </li>
        </ul>
      </div>
    </div>

    <div class="cont-block grey lighten-4 black-text" id="cont-block-2">
      <h2 class="font-2 teal-text text-darken-1">Technologies</h2>
      <div class="cont-paragraph" id="cont-paragraph-2">
        <p><i class="fab fa-html5 fa-3x tooltipped" data-position="bottom" data-tooltip="HTML5"></i> <i class="fab fa-css3 fa-3x tooltipped" data-position="bottom" data-tooltip="CSS3"></i> <i class="fab fa-sass fa-3x tooltipped" data-position="bottom" data-tooltip="Sass"></i> <i class="fab fa-js fa-3x tooltipped" data-position="bottom" data-tooltip="JavaScript"></i> <i class="fab fa-vuejs fa-3x tooltipped" data-position="bottom" data-tooltip="Vue.js"></i> <i class="fab fa-python fa-3x tooltipped" data-position="bottom" data-tooltip="Python"></i> <i class="fas fa-seedling fa-3x tooltipped" data-position="bottom" data-tooltip="and more!"></i></p>
      </div>
    </div>
  </div>
{% endblock %}
